//general styles for the whole document
*{
  font-family: 'Open Sans', sans-serif;
  color:rgba(0, 84, 91, 1);//ciemny morski
  // color:rgba(76, 172, 168, 1);//morski
  // color:rgba(190, 190, 190, 1);//grey
  // color:rgba(162, 162, 162, 1);//dark grey
  // color:rgba(30, 160, 30, 1);//green
  // color:rgba(230, 153, 43, 1);//orange
  // color:rgba(174, 68, 182, 1);//purple
  // color:rgba(0, 56, 54, 0.8);//darkest ring
  // color:rgba(0, 160, 160, 0.8);//light ring
  // color:rgba(0, 110, 110, 0.82);//main ring
  // color:rgba(0, 180, 180, 0.82);//lightest ring
  background-color: rgba(240,240,240,1);//light grey
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
