@import "__education__education-progress-bar__bar-and-dates/_education__education-progress-bar__bar-and-dates.scss";

.education__education-progress-bar{
  width: 100vw;
  display: flex;
  &__el{
    // border: 1px solid red;
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%;
    &__item{
      margin: 0 5px ;
      height: 100px;
      min-width: 20px;
      // border: 1px solid blue;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.education__education-progress-bar__el__item_line{
  &::before{
    content:"";
    position: absolute;
    left:0;
    width: 4px;
    height: 100px;
    background-color: black;
  }
  @for $i from 0 through 2{
    &_#{$i}{
      &::before{
        top:50px+($i*100px);
      }
    }
  }
  &_last{
    &::before{
      content:none;
    }
  }
}

.education__education-progress-bar__el__item__text{
  &_color-background{
    color: white;
    background-color: red;
    border-radius: 5%;
    padding: 5px 10px;
  }
  @for $i from 0 through 3 {
    &__circle-#{$i}{
      &::after{
        content:"";
        position: absolute;
        top: 50px-9px+($i *100px);
        left:-7px;
        width: 10px;
        height: 10px;
        border: 4px solid black;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
}
