@import "./../../../library/media-query-mixins.scss";

.header__picture{
  margin: 50px 0 50px 10px;
  width:330px;
  height:208px;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__picture__content{
    // border: 4px solid black;
    border-radius: 50%;
    width:210px;
    height:210px;
    background-color: rgba(10,10,10,0.6);
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
  }
}
