.education__education-progress-bar {
  width: 100vw;
  display: flex; }
  .education__education-progress-bar__el {
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%; }
    .education__education-progress-bar__el__item {
      margin: 0 5px;
      height: 100px;
      min-width: 20px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      vertical-align: middle;
      text-align: center; }

.education__education-progress-bar__el__item_line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100px;
  background-color: black; }

.education__education-progress-bar__el__item_line_0::before {
  top: 50px; }

.education__education-progress-bar__el__item_line_1::before {
  top: 150px; }

.education__education-progress-bar__el__item_line_2::before {
  top: 250px; }

.education__education-progress-bar__el__item_line_last::before {
  content: none; }

.education__education-progress-bar__el__item__text_color-background {
  color: white;
  background-color: red;
  border-radius: 5%;
  padding: 5px 10px; }

.education__education-progress-bar__el__item__text__circle-0::after {
  content: "";
  position: absolute;
  top: 41px;
  left: -7px;
  width: 10px;
  height: 10px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: white; }

.education__education-progress-bar__el__item__text__circle-1::after {
  content: "";
  position: absolute;
  top: 141px;
  left: -7px;
  width: 10px;
  height: 10px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: white; }

.education__education-progress-bar__el__item__text__circle-2::after {
  content: "";
  position: absolute;
  top: 241px;
  left: -7px;
  width: 10px;
  height: 10px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: white; }

.education__education-progress-bar__el__item__text__circle-3::after {
  content: "";
  position: absolute;
  top: 341px;
  left: -7px;
  width: 10px;
  height: 10px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: white; }

.education__section-name {
  margin: 0 0 0 10px; }
  .education__section-name .education__section-name__icon_education {
    background-image: url("./components/cv-page/main/education/_education__section-name/education__section-name__icon_education.svg"); }

.education {
  width: 100%;
  height: 900px;
  border: 1px solid pink; }

.main__section-name {
  height: 80px;
  width: 280px;
  display: flex; }

.main__section-name__icon {
  margin: 11px 0 0 0;
  height: 35px;
  width: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main__section-name__text {
  margin: 0 0 0 8px;
  font-size: 42px;
  text-transform: capitalize; }
