.competence__section-name {
  margin: 5px 0 20px 7px;
  background-color: rgba(10, 10, 10, 0); }
  .competence__section-name__icon_competence {
    margin: 8px 0 0 0;
    height: 22px;
    width: 22px;
    background-image: url("./components/cv-page/main/competence/_competence_modifiers/_competence__section-name/competence__section-name__icon_competence.svg"); }
  .competence__section-name__text_competence {
    font-size: 26px; }

.competence {
  background-color: grey;
  width: 100%;
  display: flex; }
  .competence__content {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px; }

.competence__competence-bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .competence__competence-bars__el {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .competence__competence-bars__el__text {
      margin-left: 8px;
      font-size: 15px;
      text-transform: capitalize; }
    .competence__competence-bars__el__bar {
      margin-right: 8px;
      width: 70%;
      height: 14px;
      border: 3px solid #bebebe;
      border-radius: 9px;
      display: flex;
      justify-content: flex-start; }
      .competence__competence-bars__el__bar_filling {
        height: 8px;
        border-radius: 8px; }
      .competence__competence-bars__el__bar_filling_first {
        background-color: rgba(0, 75, 75, 0.8);
        border: 3px solid rgba(0, 75, 75, 0.8);
        width: 85%; }
      .competence__competence-bars__el__bar_filling_second {
        background-color: rgba(0, 110, 110, 0.8);
        border: 3px solid rgba(0, 110, 110, 0.8);
        width: 80%; }
      .competence__competence-bars__el__bar_filling_third {
        background-color: rgba(0, 56, 54, 0.8);
        border: 3px solid rgba(0, 56, 54, 0.8);
        width: 95%; }
      .competence__competence-bars__el__bar_filling_fourth {
        background-color: rgba(0, 180, 180, 0.8);
        border: 3px solid rgba(0, 180, 180, 0.8);
        width: 50%; }
      .competence__competence-bars__el__bar_filling_fifth {
        background-color: rgba(0, 210, 210, 0.8);
        border: 3px solid rgba(0, 210, 210, 0.8);
        width: 40%; }
      .competence__competence-bars__el__bar_filling_last {
        background-color: rgba(0, 160, 160, 0.8);
        border: 3px solid rgba(0, 160, 160, 0.8);
        width: 60%; }

.education__education-progress-bar {
  width: 100vw;
  display: flex; }
  .education__education-progress-bar__el {
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%; }
    .education__education-progress-bar__el__item {
      margin: 0 5px;
      height: 100px;
      min-width: 20px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      vertical-align: middle;
      text-align: center; }

.education__education-progress-bar__el__item_line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100px;
  background-color: #a2a2a2; }

.education__education-progress-bar__el__item_line_0::before {
  top: 50px; }

.education__education-progress-bar__el__item_line_1::before {
  top: 150px; }

.education__education-progress-bar__el__item_line_2::before {
  top: 250px; }

.education__education-progress-bar__el__item_line_last::before {
  content: none; }

.education__education-progress-bar__el__item__text {
  color: rgba(0, 135, 135, 0.8); }
  .education__education-progress-bar__el__item__text_green {
    color: #1ea01e; }
  .education__education-progress-bar__el__item__text_orange {
    color: #e6992b; }
  .education__education-progress-bar__el__item__text_purple {
    color: #ae44b6; }
  .education__education-progress-bar__el__item__text_red {
    color: #ea44b6; }
  .education__education-progress-bar__el__item__text_color-background {
    color: white;
    background-color: rgba(0, 160, 160, 0.8);
    border-radius: 5%;
    padding: 5px 10px; }
  .education__education-progress-bar__el__item__text__circle-0::after {
    content: "";
    position: absolute;
    top: 41px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }
  .education__education-progress-bar__el__item__text__circle-1::after {
    content: "";
    position: absolute;
    top: 141px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }
  .education__education-progress-bar__el__item__text__circle-2::after {
    content: "";
    position: absolute;
    top: 241px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }
  .education__education-progress-bar__el__item__text__circle-3::after {
    content: "";
    position: absolute;
    top: 341px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }

.education__section-name {
  margin: 8px 0 0 10px; }
  .education__section-name__icon_education {
    margin: 8px 0 0 0;
    height: 22px;
    width: 22px;
    background-image: url("./components/cv-page/main/education/_education_modifiers/_education__section-name/education__section-name__icon_education.svg"); }
  .education__section-name__text_education {
    font-size: 26px; }

.education {
  width: 100%; }

.experience__section-name {
  margin: 5px 0 110px 7px;
  background-color: rgba(10, 10, 10, 0); }
  .experience__section-name__icon_experience {
    margin: 8px 0 0 0;
    height: 22px;
    width: 22px;
    background-image: url("./components/cv-page/main/experience/_experience_modifiers/_experience__section-name/experience__section-name__icon_experience.svg"); }
  .experience__section-name__text_experience {
    font-size: 26px; }

.experience {
  background-color: grey;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .experience__section {
    margin: 10px 0 10px 0;
    width: 50%; }
    .experience__section_right {
      border-left: 3px solid black; }
  .experience__section__el {
    margin: 40px 0 40px 10px;
    width: 90%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 8%; }
    .experience__section__el__text_title {
      margin: 3px;
      background-color: inherit;
      order: 1;
      width: 50%;
      word-wrap: break-word;
      color: black; }
    .experience__section__el__text_main {
      margin: 3px;
      background-color: inherit;
      order: 3;
      word-wrap: break-word;
      color: #a2a2a2; }
    .experience__section__el__text_date {
      margin: 3px;
      background-color: inherit;
      order: 2;
      width: 40%;
      word-wrap: break-word;
      border-left: 2px solid #a2a2a2; }
      .experience__section__el__text_date_month {
        background-color: inherit;
        margin-left: 6px;
        color: #a2a2a2; }
      .experience__section__el__text_date_year {
        background-color: inherit;
        margin-left: 6px;
        font-weight: bold;
        font-size: 16px;
        color: #00545b; }

.experience__section__el__text_arrow::before {
  width: 14px;
  height: 28px;
  position: absolute;
  content: "";
  background-image: url("./components/cv-page/main/experience/_experience_images/experience_images_arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.experience__section__el__text_arrow_left::before {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  right: -10px;
  top: 20px; }

.experience__section__el__text_arrow_right::before {
  left: -9px;
  top: 20px; }

.interests__section-name {
  margin: 5px 0 8px 7px;
  background-color: rgba(10, 10, 10, 0); }
  .interests__section-name__icon_interests {
    margin: 8px 0 0 0;
    height: 22px;
    width: 22px;
    background-image: url("./components/cv-page/main/interests/_interests_modifiers/_interests__section-name/interests__section-name__icon_interests.svg"); }
  .interests__section-name__text_interests {
    font-size: 26px; }

.interests {
  background-color: grey;
  width: 100%;
  display: flex; }
  .interests .interests__content {
    width: 100%;
    margin-bottom: 10px; }
    .interests .interests__content .interests__cirles {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .interests .interests__content .interests__cirles_item {
        text-transform: capitalize;
        color: whitesmoke;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .interests .interests__content .interests__cirles_item_dark-main {
        font-size: 23.55px;
        width: 150px;
        height: 150px;
        background-color: rgba(0, 75, 75, 0.8);
        position: relative; }
        .interests .interests__content .interests__cirles_item_dark-main_lightest {
          font-size: 16.5px;
          left: -88.5px;
          top: 52.5px;
          width: 105px;
          height: 105px;
          background-color: rgba(0, 160, 160, 0.8);
          position: absolute; }
        .interests .interests__content .interests__cirles_item_dark-main_light {
          font-size: 16.5px;
          left: -55.5px;
          top: -15px;
          width: 90px;
          height: 90px;
          background-color: rgba(0, 135, 135, 0.8);
          position: absolute; }
        .interests .interests__content .interests__cirles_item_dark-main_darkest {
          font-size: 16.5px;
          right: -55.5px;
          top: 82.5px;
          width: 90px;
          height: 90px;
          background-color: rgba(0, 56, 54, 0.8);
          position: absolute; }

.main__section-name {
  width: 100%;
  display: flex; }
  .main__section-name__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .main__section-name__text {
    margin: 0 0 0 8px;
    text-transform: capitalize; }
