.education__education-progress-bar {
  width: 100vw;
  display: flex; }
  .education__education-progress-bar__el {
    list-style-type: none;
    position: relative;
    padding: 0;
    width: 33.33%; }
    .education__education-progress-bar__el__item {
      margin: 0 5px;
      height: 100px;
      min-width: 20px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      vertical-align: middle;
      text-align: center; }

.education__education-progress-bar__el__item_line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100px;
  background-color: #a2a2a2; }

.education__education-progress-bar__el__item_line_0::before {
  top: 50px; }

.education__education-progress-bar__el__item_line_1::before {
  top: 150px; }

.education__education-progress-bar__el__item_line_2::before {
  top: 250px; }

.education__education-progress-bar__el__item_line_last::before {
  content: none; }

.education__education-progress-bar__el__item__text {
  color: rgba(0, 135, 135, 0.8); }
  .education__education-progress-bar__el__item__text_green {
    color: #1ea01e; }
  .education__education-progress-bar__el__item__text_orange {
    color: #e6992b; }
  .education__education-progress-bar__el__item__text_purple {
    color: #ae44b6; }
  .education__education-progress-bar__el__item__text_red {
    color: #ea44b6; }
  .education__education-progress-bar__el__item__text_color-background {
    color: white;
    background-color: rgba(0, 160, 160, 0.8);
    border-radius: 5%;
    padding: 5px 10px; }
  .education__education-progress-bar__el__item__text__circle-0::after {
    content: "";
    position: absolute;
    top: 41px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }
  .education__education-progress-bar__el__item__text__circle-1::after {
    content: "";
    position: absolute;
    top: 141px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }
  .education__education-progress-bar__el__item__text__circle-2::after {
    content: "";
    position: absolute;
    top: 241px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }
  .education__education-progress-bar__el__item__text__circle-3::after {
    content: "";
    position: absolute;
    top: 341px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 4px solid #a2a2a2;
    border-radius: 50%;
    background-color: white; }

.education__section-name {
  margin: 8px 0 0 10px; }
  .education__section-name__icon_education {
    margin: 8px 0 0 0;
    height: 22px;
    width: 22px;
    background-image: url("./components/cv-page/main/education/_education_modifiers/_education__section-name/education__section-name__icon_education.svg"); }
  .education__section-name__text_education {
    font-size: 26px; }

.education {
  width: 100%; }

.education__section-name {
  margin: 8px 0 0 10px; }
  .education__section-name__icon_education {
    margin: 8px 0 0 0;
    height: 22px;
    width: 22px;
    background-image: url("./components/cv-page/main/education/_education_modifiers/_education__section-name/education__section-name__icon_education.svg"); }
  .education__section-name__text_education {
    font-size: 26px; }

.main__section-name {
  width: 100%;
  display: flex; }
  .main__section-name__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .main__section-name__text {
    margin: 0 0 0 8px;
    text-transform: capitalize; }
