// @import "./../../../library/media-query-mixins.scss";

.header__name{
  // border: 1px solid blue;
  margin: 0px 0 0px 0px;
  order:1;
  width:100%;
  &__full-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    width:auto;
    height:auto;
  }
  &__profession{
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 16px;
    text-transform: capitalize;
    width:auto;
    height:auto;
  }
}
