.education__section-name{
  margin: 8px 0 0 10px;
    &__icon_education{
      margin: 8px 0 0 0;
      height: 22px;
      width: 22px;
      background-image: url("./components/cv-page/main/education/_education_modifiers/_education__section-name/education__section-name__icon_education.svg");
    }
    &__text_education{
     font-size: 26px;
    }
}
