// @import "./../../../library/media-query-mixins.scss";

.header__contact-info{
  // border: 1px solid brown;
  order:2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  margin: 0px 0 10px 0px;
  &__item{
    margin: 44px 0 0 0;
    width:25%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid red;
    &__text{
      order:2;
      text-align: center;
      vertical-align: middle;
      align-self: flex-end;
      word-wrap: break-word;
      width: 100%;
      font-size: 12px;
      padding: 4px;
      // border: 1px solid purple;
      &_last{
        text-align: center;
        vertical-align: middle;
      }
    }
    &__icon{
      order:1;
      margin:8px 0 0 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width:40px;
      height:40px;
      // border: 1px solid pink;

    }
  }
}





  .header__contact-info__item__icon_birth-date{
  background-image:url("./components/cv-page/header/__header__contact-info/__header__contact-info__images/header__contact-info__image_birth-date.svg");
  }
  .header__contact-info__item__icon_phone{
    background-image: url("./components/cv-page/header/__header__contact-info/__header__contact-info__images/header__contact-info__image_phone.svg");
  }
  .header__contact-info__item__icon_e-mail{
    background-image: url("./components/cv-page/header/__header__contact-info/__header__contact-info__images/header__contact-info__image_e-mail.svg");
  }
  .header__contact-info__item__icon_address{
    background-image: url("./components/cv-page/header/__header__contact-info/__header__contact-info__images/header__contact-info__image_address.svg");
  }
